.nav{

display: flex;
justify-content: space-between;
padding: 20px;
position: sticky;
top: 0%;
background-color: rgb(135, 141, 141);
color: black;
z-index: 1000;
}

.link{

display: flex;
gap: 20px;

}